body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.fexible-area {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.full-area {
    width: 100%;
    margin-top: 100px;
}


.width-half {
    width: 50%;
}

.width-half img {
    width: 100%;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

.padding-top {
    padding-top: 130px;
}




.orange-color {
    color: #FBA24F;
}

.gradient-button {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 15px 40px;
    display: inline-block;
    margin-top: 40px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 15px #fba24f;
}


#about-me {
    background-image: url('./images/shapes/7.png');
}

#about-me-image {
    width: 50%;
    margin-top: 70px;

}




.recipies-header {
    width: 50%;
    margin: 0 auto;
    text-align: center;

}


.one-of-three-width {
    width: 33.33333%;
    padding-right: 2.5%;
    padding-left: 2.5%;

}

.single-recipies {
    width: 85%;
    margin-top: 40px;
    box-shadow: 0px 0px 20px 0px grey;
    padding: 30px 30px 40px 30px;
    border-radius: 25px;
    margin-bottom: 50px;
}


.single-recipies img {
    width: 100%;
}

#count-down {
    box-shadow: 0px 0px 20px 0px grey;
    border-radius: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    background: #0B0D17;
    color: #fff;
    padding: 20px 0px 60px;
}


#menu {
    text-align: right;
}

#menu a {
    text-decoration: none;
    display: inline-block;
    margin-top: 48px;
    margin-left: 30px;
    font-weight: bold;
    color: orange;
}