body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.fexible-area {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.full-area {
    width: 100%;
}


.width-half {
    width: 50%;
}

.width-half img {
    width: 100%;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

p {
    font-size: 20px;
}

.padding-top {
    padding-top: 130px;
}


.orange-color {
    color: #FBA24F;
}

.gradient-button {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 15px 40px;
    display: inline-block;
    margin-top: 40px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 15px #fba24f;
}

#about-me {
    background-image: url('./images/shapes/7.png');
}

#about-me-image {
    width: 50%;
    margin-left: 20%;
    margin-top: 70px;

}